.upperEdge
{
background-color:Black;
color:white;
font-family:'Times New Roman';
opacity:80%;
position:sticky;
text-align:center;


}
.display {

display:block;
text-align:left;
background-color:lightblue;
text-shadow: purple 3px 3px;
position:fixed;

left:50%;
top:50%;
translate: -50% -50%;
}



body {
background-color:rgb(152, 252, 182);
color:white;

		
}	

.footer 
{
display:inline-block;
color:white;
font-family:'Times New Roman';
align-content: center;
position:absolute;
bottom:0;

right:50%
}

.doIt
{
    animation-duration: 4s;
    animation-name: slide-in;
    animation-direction: left;


    text-shadow: black 3px 3px;
    color: white;

}
@keyframes slide-in {
from {
translate: 150vw 0;
scale: 200% 1;

}
to 
{
   
    

    translate: 0 0;
    scale:100%;
}
    
}



.logo 
{
width:100px;
height:100px;
position:fixed;
left:0;
bottom:0;
}

/* fixed position aka UFW set directions with how close you want them to be-->*/