.upperEdge
{
background-color:Black;
color:white;
font-family:'Times New Roman';
opacity:80%;
position:sticky;
text-align:center;


}


.upperEdge.hover{
opacity:30%;
cursor:pointer;
}

.display {

display:block;
text-align:left;
background-color:lightblue;



}
.display text {

text-shadow: 1px 1px purple;
}
.display audio {
display:block;
text-align: center;
cursor:pointer;


}
body {
background-color:rgb(152, 252, 182);
color:white;

		
}	

.footer 
{
display:block;
background-color:Black;
color:white;
font-family:'Times New Roman';

}



.logo 
{
border-radius:100px;
border:solid 0.2px;
border-color:black;
display:inline-block;
width:4%;
height:4%;
position:sticky;
right:7px;
position:relative;
padding-right:8px;
}
